<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-2 mb-2">
                <img src="media/logo.png" alt="">
                <p class="mt-2">WELCOME TO,
                    Shyama. Kush's Seat,
                    We are Manufacturers and Exporters of Hand Tufted, Kush's Seat, Hand Knotted, Hand Loom, Flatweave and all kind of Rugs and Carpets etc...</p>
            </div>
            <div class="col-md-4 mt-2 mb-2">
                <h2>Shyama. Kush's Seat</h2>
                <p><span><i class="bi bi-buildings"></i></span> Clans India Mulla Talab Station Road,
Bhadohi 221401</p>
               <p><span><i class="bi bi-telephone"></i></span>  0141-34345656</p>
               <p><span><i class="bi bi-phone"></i></span>  +917654985789</p>
               <p><span><i class="bi bi-envelope"></i></span>  contact@clansindia.in</p>
            </div>
            <div class="col-md-4 mt-2 mb-2">
                <h2>Our Social Networks</h2>
                <a href=""><i class="bi bi-facebook"></i></a>
               <a href=""><i class="bi bi-whatsapp"></i></a> 
               <a href=""><i class="bi bi-instagram"></i></a>
               <a href=""><i class="bi bi-google"></i></a>
                </form>
            </div>
        </div>
    </div>
</section>